//用作过滤器

var format = function (text) {
  if (!text) {
    return
  }
  var reg = getRegExp('\\\\n', 'g')
  var space = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
  return space + text.replace(reg, '\n' + space)
}


var limit = function (array, length) {
  return array.slice(0, length)
}


// wxs 不能用 ES6 语法
// 这是两种不同语言，注意！！

module.exports = {
  format: format,
  limit: limit,
}